
html {
    padding-top: 55px;
    padding-left: 160px;
    padding-right: 160px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    box-sizing: border-box;

    background: #E5E5E5;
}

/* body {
    position: relative;
} */

a {
    color: #3072C4;
    text-decoration: none;
}


.main_window {
    padding-bottom: 28px;

    border: 1px solid #DADADA;

    border-top: 2px solid #518E6A;

    background: #ffffff;
}

.header-text {
    margin: 45px 45px;

    font-weight: 300;
    font-size: 32px;
    line-height: 40px;

    /* color: #333333; */
}

.search {
    margin: 0 5px 45px 55px;
    color: #333333;
}

input::placeholder {
    color: #A0A0A0;
}

.search-text {
    box-sizing: border-box;
    /* padding: 10px 10px 12px 10px; */
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 12px;
    

    min-width: 285px;
    height: 42px;

    border: 1px solid #CECECE;

    /* font-family: Roboto;
    font-style: normal;
    font-weight: normal;*/
    font-size: 16px;
    line-height: 20px; 

    color: #333333;
    line-height: 20px;
}


.search-button {
    box-sizing: border-box;

    margin-left: 5px;
    margin-right: 15px;

    background: #518E6A;

    min-width: 150px;
    min-height: 42px;

    border: none;

    font-size: 16px;
    color: #FFFFFF;
    line-height: 25px;
}

.search-link {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;

    
}

 .addresses-table {
    /* box-sizing: border-box; */
    width: 100%;

    color: #333333;

    text-align: left;
}

th {
    margin-top: 5px;
    margin-bottom: 5px;

    height: 32px;

    padding-top: 10px;
    padding-bottom: 10px;

    font-weight: 900;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

td {
    margin-top: 5px;
    margin-bottom: 5px;

    height: 25px;

    padding-top: 7px;
    padding-bottom: 7px;
}

.addresses-table-row {
    position: relative;
}

.addresses-table-row a {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding-top: 10px;

    /* width: 100%; */

    color: #333333;
}

.addresses-table-row a:hover {
    color: #3072C4;
    background: #F2F2F2;
}

.addresses-table-row__80 {
    display: inline-block;

    padding-left: 45px;

    width: 80%;
}

.addresses-table-row__20 {
    display: inline-block;
}

.footer {
    position: absolute;
    padding-top: 23px;

    bottom: 1px;
}

.footer-img {
    display: inline-block;
    vertical-align: top;
}

.footer-text {
    display: inline-block;

    vertical-align: top;

    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: 1.63913e-08px;

    color: #A1A1A1;
}

.footer-text b {
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
}


/*modal*/

#id_modal {
    visibility: hidden;
    opacity: 0;
}

#id_modal:target {
    visibility: visible;
    opacity: 1;
}

.modal {
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    height: auto;
    width: auto;

    background-color: #0000006e
}

.modal-bg {
    position: absolute;

    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}

.modal-form {
    position: absolute;

    padding: 25px 30px;
    /* padding-bottom: 55px; */

    top: 10%;
    bottom: 10%;
    left: 35%;
    right: 35%;

    min-width: 500px;
    min-height: 586px;

    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

    background-color: white;
}

.modal-form__form__header {
    padding-bottom: 20px;
}

.modal-form__form__header__text {
    display: inline-block;

    width: 90%;

    font-weight: normal;
    font-size: 22px;
    line-height: 30px;

    color: #333333;
}

.modal-form__form__header__close {
    display: inline-block;

    height: 100%;
    width: 9%;

    text-align: right;
}

.modal-form__form__header__close svg {
    padding-right: 5px;
}

.modal-form__form__row {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 38px;
}

.modal-form__form__row__text {
    display: inline-block;

    width: 32%;

    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
}

.modal-form__form__row__input {
    display: inline-block;

    width: 65%;
    height: 100%;

    border: 1px solid #CECECE;
}

.little {
    width: 30%;
}

.modal-form__buttons {
    box-sizing: border-box;
    position: absolute;

    padding: 21px 30px;

    bottom: 0;
    left: 0;
    right: 0;

    height: 80px;


    background-color: #E9E9E9;;
}

.modal-form__buttons__submit {

    width: 150px;
    height: 38px;

    background: #518E6A;
    border: 1px solid #518E6A;
    border-radius: 1px;

    color: #fff;

    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    text-align: center;
}


.modal-form__buttons__close {
    width: 110px;
    height: 38px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 2px;

    color: #333333;

    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    text-align: center;
}
